button {
  margin: 20px;
  border-radius: 10px;
  width: 80px;
  height: 40px;
}

.counterBody {
  text-align: center;
}

button.increase {
  background-color: rgb(7, 161, 38);
}

button.decrease {
  background-color: rgb(230, 149, 18);
}

button.reset {
  background-color: rgb(86, 158, 222);
}

body {
  background-color: rgba(122, 175, 222, 0.253);
}

.counter {
  background-color: aliceblue;
}